header, footer {
    display: grid;
    padding: 30px;
    border-radius: 25px;
    align-items: center;
    grid-template-columns: 400px 1fr;
    background-image: url("../images/Stardew_Background.JPG");
    background-color: #91FEDE;
    box-shadow: 0 0 0 4px #fff;
    margin: auto;
    width: 700px;
    margin: auto;

    

}

img {
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
}

.grid_item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

hr {
    width: 90%;
    height: 1px;
    background-color: #131152;

}

main {
    margin: auto;
    background-color: #4EC8F1;
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
    padding: 30px;
    width: 700px;

}




body {
    font-family: 'Libre Baskerville', serif;
}