header, footer {
    display: grid;
    padding: 30px;
    border-radius: 25px;
    align-items: center;
    grid-template-columns: 400px 1fr;
    background-image: url("../images/Stardew_Background.JPG");
    background-color: #91FEDE;
    box-shadow: 0 0 0 4px #fff;
    margin: auto;
    width: 700px;
    margin: auto;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    

}

img {
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
}



hr {
    width: 90%;
    height: 1px;
    background-color: #131152;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

main {
    margin: auto;
    background-color: #4EC8F1;
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
    padding: 30px;
    width: 700px;
    text-shadow: 0 0 2px white;
    

}

ul{
    font-size: 22px;
}




body {
    font-family: 'Libre Baskerville', serif;
}

h2 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.design_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 30px;
    
}
