.grid_container {
    display: grid;
    background-color: aquamarine;
    padding: 30px;
    border-radius: 25px;
    align-items: center;
    grid-template-columns: 400px 1fr;
    

}

.grid_item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

hr {
    width: 50%;
    height: 1px;
    background-color: darkgray;

}

main {
    margin: auto;
    background-color: lightgray;
    border-radius: 25px;
    padding: 30px;
    width: 700px;

}


footer {
    margin: auto;
    margin-right: auto;
    background-color:  aquamarine;
    border-radius: 25px;
    padding: 30px;
    width: 700px;
}

header {
    margin: auto;
    width: 700px;
}