.grid_container {
    display: grid;
    column-gap:100px;
    background-color: aquamarine;
    padding: 30px;
    width: 700px;
    height: 160px;
    border-radius: 25px;
    margin-left: 175px;
    margin-right: auto;
}

.grid_item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid_item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

hr {
    width: 50%;
    height: 1px;
    background-color: darkgray;
    margin-left: 175px;
    margin-right: auto;

}

main {
    margin-left: 175px;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 25px;
    padding: 30px;
    width: 700px;

}


footer {
    margin-left: 175px;
    margin-right: auto;
    background-color:  aquamarine;
    border-radius: 25px;
    padding: 30px;
    width: 700px;
}