@media only screen and (min-width: 50em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation li a {
        color: yellow;
    }
}