@media only screen and (min-width: 50em) {
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    /* unvisited link */
nav a:link {
    color: #E0F2E9;
  }
  
/* visited link */
nav a:visited {
    color: #E0F2E9;
  }
  
/* mouse over link */
nav a:hover, a:active {
    color: #470024;
  }

  h1 {
      font-size:200%;
  }
    
    


    #hero-placeholder {
        background-image: url("../images/large-wdd230-org.jpg");
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    #events-placeholder {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #weather-placeholder {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #news-placeholder {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #spotlight-placeholder {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #join-placeholder {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    

    
}
