@media only screen and (min-width: 32.5em) {
    .navigation li {
        list-style: none;
        background-color: #b092bd;
        display: none;
    
    }
    
    .navigation li:first-child {
        display: block;
    }
    
    .navigation a {
        display: block;
        padding: .75rem;
        text-align: center;
        text-decoration: none;
        font-size: 22px;
    }
    
    .responsive li {
        display: block;
    }
    
    footer p {
        position: relative;
    }

    #hero-placeholder {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #events-placeholder {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #weather-placeholder {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    #news-placeholder {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #spotlight-placeholder {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #join-placeholder {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    /* unvisited link */
nav a:link {
    color: #E0F2E9;
    background-color: #7a6c80;
  }
  
/* visited link */
li > a:visited {
    color: #E0F2E9;
  }
  
/* mouse over link */
li > a:hover,li > a:active {
    color: #470024;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4452;
    }

    footer {
        align-content: center;
    justify-content: center;
    text-align: center;
    }
    .division_left picture:hover {
        opacity: .9;
        filter: drop-shadow(8px 8px 10px gray);
        filter: hue-rotate(20deg);
    }
    .division_right picture:hover {
        opacity: .9;
        filter: drop-shadow(8px 8px 10px gray);
        filter: hue-rotate(20deg);
    }
}
