html {
    background-color: #2E3534;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    
}

.navigation li {
    list-style: none;
    background-color: #94849B;
    display: none;

}

.navigation li:first-child {
	display: block;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.responsive li {
    display: block;
}





.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 40px;
    margin: 0 auto;
    

  }
  .grid-container > div {
      
    background-color: #E0F2E9;
    text-align: left;
    padding: 10px;
    height: 95%
    
    
  }
  #hero-placeholder {
    position: relative;
  }

  header {
    margin:  0 auto;
    align-items: center;
    color: #470024;
}

  header, footer {
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:  #94849B;
    color: #470024;
    padding: 50px;
  }

/* unvisited link */
a:link {
    color: #E0F2E9;
  }
  
/* visited link */
a:visited {
    color: #E0F2E9;
  }
  
/* mouse over link */
a:hover, a:active {
    color: #470024;
  }



h1 {
    font-family: Nanum Gothic Coding, monospace;
}
p span  {
    font-family: Nanum Gothic, sans-serif;
}

img {
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
}

header a {
    text-decoration: none;
    padding: 10px;
}

header div {
    padding: 20px;
}

footer div{
    padding: 20px;
}


  

  #hero-placeholder {
        grid-row-start: 1;
        
    }
    #events-placeholder {

        grid-row-start: 2;
    }
    #weather-placeholder {
        grid-row-start: 3;

    }
    #news-placeholder {
        grid-row-start: 4;

    }
    #spotlight-placeholder {
        grid-row-start: 5;
    }
    @media only screen and (max-width: 32.5em) {
    #join-placeholder {
        display: none;
    }
}