
nav {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    max-width: 500px;
}

.navigation li {
    list-style: none;
    background-color: lightblue;
    display: none;

}

.navigation li:first-child {
	display: block;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.responsive li {
    display: block;
}




.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    margin: 0 auto;
    max-width: 500px;

  }
  .grid-container > div {
    background-color: lightgray;
    max-width: 500px;
    text-align: center;
    
  }



  header, footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: lightpink;
  }