html {
    background-color: #2E3534;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    
}

.navigation li {
    list-style: none;
    background-color: #94849B;
    display: none;

}

.navigation li:first-child {
	display: block;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.responsive li {
    display: block;
}





.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 40px;
    margin: 0 auto;
    

  }
  .grid-container > div {
      
    background-color: #cac2cf;
    text-align: left;
    padding: 30px;
    
    
    
  }
  .grid-container img {
      border-radius: 2px;
      outline: 2px solid #CCC;
      float: right;
      
  }
  .grid-container a{
      color: #470024;
      font-weight: bold;
  }
  #hero-placeholder {
    background-image: url("../images/small-wdd230-org.jpg");
    background-size: cover;
    /*background-image: url("../images/lilburn.jpeg"); */
    max-height: 333px;
    min-width: 500px;
    
  }


#social_icons {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: right;
    text-align: right;
}

nav {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}


#header_date {

    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #7a6c80;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    font-size: 20px;
    
}

#spotlight-placeholder{
    display: grid;
    grid-gap: 20px;
}
#spotlight-placeholder div {
    grid-template-rows: 1fr 1fr 1fr;
}
.spotlight_item {
    padding: 20px;
    background-color: white;
    
}

#notif_banner {
    color: #E0F2E9;
    font-family: Nanum Gothic Coding, monospace;
    
    background-color: #2E3534;
    position: fixed;
    padding: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: None;
    
}

header{
    
    align-content: center;
    background-color:  #94849B;
    color: #470024;
    padding: 50px;
    display: grid;

}


footer {
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:  #94849B;
    color: #470024;
    padding: 50px;
}

/* unvisited link */
nav a:link {
    color: #E0F2E9;
    border-style: solid;
    border-width: 1px;
    border-color: #94849B;
  }
  
/* visited link */
nav a:visited {
    color: #E0F2E9;
    border-style: solid;
    border-width: 1px;
    border-color: #94849B;
  }
  
/* mouse over link */
nav a:hover, a:active {
    color: #470024;
    background-color: #a899b0;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4452;
    
  }
.grid-container h2, h3{
    font-family: Nanum Gothic Coding, monospace;
    color: #470024;
}


h1 {
    font-family: Nanum Gothic Coding, monospace;
}
p, span  {
    font-family: Nanum Gothic, sans-serif;
}

img {
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
}

header a {
    text-decoration: none;
    padding: 10px;
}

header div {
    padding: 20px;
}

footer div{
    padding: 20px;
}


  #hero-placeholder {
        grid-row-start: 1;
        
    }
    #events-placeholder {

        grid-row-start: 2;
    }
    #weather-placeholder {
        grid-row-start: 3;

    }
    #news-placeholder {
        grid-row-start: 4;

    }
    #spotlight-placeholder {
        grid-row-start: 5;
    }
    @media only screen and (max-width: 32.5em) {
    #join-placeholder {
        display: none;
    }
}
