@media (min-width: 0em) {

    .design_grid_container {
        grid-template-columns: 1fr;
    }

}

.design_grid_container {
    grid-gap: 40px;
    
    
    
}

.grid_image {
    margin-top: 15%;
}