img {
    display: block;
    width: 1000px;
    margin: 0 auto;
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    display:block;
    margin: 0 auto;
    text-align: center;
}



picture img[data-src] {
    filter: blur(0.2em);
}

picture img{
    filter: blur(0em);
    transition: filter 0.5s;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}
