@media only screen and (min-width: 45em) {


    /* Header Formatting */
    #nav_bar {position:fixed; top: 0;right: 0;width: 100%; display: flex;justify-content: space-between;padding-top: .5%; padding-bottom:.5%; }
    #header_title{ font-size: 43px; text-align: left; padding-top: 1%;}
    #header_logo{display:grid; grid-template-columns: 1fr 1fr;}
    .navigation li {list-style: none;display:inline-flex; }
    .navigation li:first-child {display: none;}
    .navigation a {display: flex;padding: .75rem;text-align: center;text-decoration: none;font-size: 22px;}
    .social_media {width:auto;}
    #header_logo_image {display: block;  margin-right: 5%;}
    #header_title {display: block;position: relative;top: 25px; }
    .social_media {border-left:2px solid #ffffff; }
    /*----*/


    /* Main Formatting */
    main{padding:12rem 20% 1% 20%;}
    /*----*/


    /* Footer Formatting */
    #foot_grid_holder {display:grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; padding:2% 10% 1% 10%;}
    #foot_contact, #foot_googlemap{border-right:2px solid #ffffff; }
    #foot_contact {border-left:2px solid #ffffff;}
    #googlemap {height:100%; width:100%; }
    /*----*/

   /* Index Page Only */
   #main_content_body.index {display:grid;}
   #home_big_temple {grid-column: 1 / 3; grid-row: 1;}
   #home_action {grid-column: 1 / 2; grid-row: 2 / 4;}
   #home_info {grid-column: 2 / 3; grid-row: 2;}
   #home_weather {grid-column: 2 / 3; grid-row: 3;}
   #home_slide {grid-column: 1 / 3; grid-row: 4; display: grid; grid-template-columns: 1fr 1fr;}
   #home_action {display:grid; grid-gap:2%;}
   #action_button { font-size: 30px; display:block; }
   

   /*----*/
   
   /*Reservation Page Only */
    #submit_button {font-family: 'Gowun Dodum';font-size: 30px;}
    #reserve_grid_holder {display:grid; grid-template-columns: 1fr 1fr;}
    #personal_grid_holder {display:grid; grid-template-columns: 1fr 1fr;}
    #room_choices{display:block;margin: auto;width: 50%;padding: 10px;}
    #location_choices{display:block;margin: auto;width: 50%;padding: 10px;}
    #personalinfo2 {border-left:2px solid #ffffff;padding-left:2%;}
    label, textarea {display:block;margin: auto;width: 50%;padding: 10px;}
    input:not(#las_vegas, #tonga,#chile,#tokyo, .room) {display:block; margin: auto;width: 50%;padding: 10px;}
        
    
    /*----*/




    /* -----TESTING STUFF----- */
    body {background-color: #F2F3F3}
}