@media only screen and (min-width: 45em) {


    /* Header Formatting */
    #nav_bar {position:fixed; top: 0;right: 0;width: 100%; display: flex;justify-content: space-between;padding-top: .5%; padding-bottom:.5%; }
    #header_title{ font-size: 43px; text-align: left; padding-top: 1%;}
    #header_logo{display:grid; grid-template-columns: 1fr 1fr;}
    .navigation li {list-style: none;display:inline-flex; }
    .navigation li:first-child {display: none;}
    .navigation a {display: flex;padding: .75rem;text-align: center;text-decoration: none;font-size: 22px;}
    .social_media {width:auto;}
    #header_logo_image {display: block;  margin-right: 5%;}
    #header_title {display: block;position: relative;top: 25px; }
    .social_media {border-left:2px solid #ffffff; }
    /*----*/


    /* Main Formatting */
    main{padding:12rem 20% 1% 20%;}
    /*----*/


    /* Footer Formatting */
    #foot_grid_holder {display:grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; padding:2% 10% 1% 10%;}
    #foot_contact, #foot_googlemap{border-right:2px solid #ffffff; }
    #foot_contact {border-left:2px solid #ffffff;}
    #googlemap {height:100%; width:100%; }
    /*----*/




    /* -----TESTING STUFF----- */
    body {background-color: rgb(238, 158, 158);}
}