@media only screen and (min-width: 35em) {
    /* Header Formatting */
    #nav_bar {position:static;justify-content: space-between;display: flex; padding-top: .5%; align-items: center;justify-content: space-between;}
    #header_title{ font-size: 40px; text-align: center;}
    /*----*/
    /* Footer Formatting */
    #foot_grid_holder {display:block;  padding:2% 10% 10% 10%;}
    #foot_contact, #foot_googlemap{border:none;}
    #googlemap {max-height:90%;  max-width:90%; border:none;}
    /*----*/

    /* Main Formatting */
    #main_content_body.index {display:grid;}
    main{padding:1% 10% 1% 10%;}
    /*----*/
    /* Index Formatting */
    .daily_titles > h4 {border-top:2px solid #ffffff;padding-left:2%; }
    .daily_temps > p {border-bottom:2px solid #ffffff;padding-left:2%;}

    /*Temple Page Only */
    #missionary_caption{display:block;}
    /*----*/
    
    /*Services Page Only */
    #service_grid{display:grid;grid-template-columns: 1fr 1fr;font-size: 17px;}
    /*----*/

    /*Missionary and Reception Pages Only */
    #reception_return, #missionary_return{font-size:20px;}
    /*----*/

    /* -----TESTING STUFF----- */
    body {background-color: orange;}
    
}