/* General Stuff */
h1,h2,h3,h4 {font-family:'Glass Antiqua', cursive;margin:10px 0}
hr {border:0; border-top:2px solid; margin:20px 0}
body {font-family: 'Gowun Dodum', sans-serif;margin:0}
html {box-sizing: border-box}
.small_padding {padding: 3px 6px}
.medium_padding {padding: 6px 12px}
.large_padding {padding: 10px 20px}
.centered_item {width:auto; text-align:center}
.rotated_item {transform: rotate(90deg)}

/* Header Formatting */


/*----*/

/* Footer Formatting */
#foot_grid_holder {display:grid; grid-template-columns: 1fr 1fr; grid-gap: 10px; padding-left: 20%; padding-right: 20%;}
#foot_contact{padding:40px}
footer{max-height: 600px;padding:5px 0;width:100%;margin:0}
#foot_googlemap {max-width:"300"; max-height:"220"}

/*----*/

/* Main Formatting */

/*----*/

/* Lovely Colors */
footer{background:rgb(133, 103, 103); border-top:1px solid #ffffff;}
/*----*/

/* Index Page Only */

/*----*/
