/* General Stuff */
html {box-sizing: border-box;}
body {font-family: 'Gowun Dodum', sans-serif; margin:0;}
h1,h2,h3,h4 {font-family:'Glass Antiqua', cursive; margin:2% 0;text-shadow: 0 0 2px #ffffff, 0 0 3px #969fce;}
h1 {font-size: 45px;} h2 {font-size: 35px;} h3 {font-size: 25px;} h4 {font-size: 20px;}
p {font-size: 17px;}
hr {border:0; border-top:2px solid; margin:5% 0;}
.small_padding {padding: 1% 2%;}
.medium_padding {padding: 3% 6%;}
.large_padding {padding: 6% 12%;}
.centered_item {width:auto; text-align:center;}
.rotated_item {transform: rotate(90deg);}
.text_link {color: inherit; text-decoration: inherit; }
/*----*/

/* Header Formatting */
#nav_bar {position:static;justify-content: space-between; display: flex; padding-top: 2%; align-items: center;}
#header_title{display:inline-flex; margin:0 0;position:relative; left: 3%; font-size: 35px;text-align: center;padding-top: 2%;}
.navigation li {list-style: none;display: none; }
.navigation li:first-child {display: block;}
.navigation a {border-radius: 8px;display: block;padding: .75rem;text-align: center;text-decoration: none;font-size: 22px;}
.responsive li {display: block;}
.social_img {width:auto;}
#header_logo_image {display: block; margin-left: auto; margin-right: auto;border-radius: 8px;}




/* Footer Formatting */
#foot_grid_holder {display:block; padding:2% 10% 4% 10%;}
#foot_contact, #foot_googlemap {padding:4%;border:none;}
#googlemap {height:75%;width:75%;}
footer{max-height: 700px;padding:5% 0;width:100%;margin:0;box-sizing: border-box; display: block;}
/*----*/


/* Main Formatting */
main{padding:1% 10% 1% 10%;}
.content_box_blue {background-color: #6886be;}
.content_box_gray {background-color: #aaaaaa;}
.content_box_dark {background-color: #091D43;}
/*----*/

/* Lovely Colors */
footer{background:#A7B1E2; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}
#nav_bar{background:#A7B1E2; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}
#foot_copyright{background: linear-gradient(60deg,#969fce,#F2F3F3,#969fce  ); background-clip: border-box;border: #ffffff 2px solid;}
#foot_grid_holder{background: #A7B1E2;}
.navigation a {box-shadow: 1px 2.5px 2px #888888;border: #ffffff 2px solid;background: linear-gradient(45deg, #969fce,  #F2F3F3);background-color: #e0e0e0;}
#header_logo_image{box-shadow: 1px 2.5px 2px #888888;border: #ffffff 2px solid;}
#header_title{text-shadow: 0 0 3px #ffffff, 0 0 5px #969fce;}

/*----*/

/* Two new colors introduced: #6886be #aaaaaa




/* Index Page Only */

/*----*/


/* Galaxy Fold issues */
@media only screen and (max-width: 18em) {
    .social_img {display:none;}
}
/*----*/


/* -----TESTING STUFF----- */
body {background-color: yellow;}
/*#nav_links{
    background-image: url("https://katelyndb.github.io/wdd230/final/images/white-textured-min.jpg");background-color: #F2F3F3; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; } */