html {
    background-color: #2E3534;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    
}

.navigation li {
    list-style: none;
    background-color: #94849B;
    display: none;

}

.navigation li:first-child {
	display: block;
}

.navigation a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
}

.responsive li {
    display: block;
}





.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 40px;
    margin: 0 auto;
    

  }
  .grid-container > div {
      
    background-color: #cac2cf;
    text-align: left;
    padding: 30px;
    
    
    
  }
  .grid-container img {
      border-radius: 2px;
      outline: 2px solid #CCC;
      float: right;
      
  }
  .grid-container a{
      color: #110009;
      font-weight: bold;
  }
  #hero-placeholder {
    /*background-image: url("../images/lilburn.jpeg"); */
    width: 100%;
    
  }


#social_icons {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: right;
    text-align: right;
}

nav {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}


#header_date {

    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #7a6c80;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    font-size: 20px;
    
}

#spotlight-placeholder{
    display: grid;
    grid-gap: 20px;
}
#spotlight-placeholder div {
    grid-template-rows: 1fr 1fr 1fr;
}
.spotlight_item {
    padding: 20px;
    background-color: white;
    
}

#notif_banner {
    color: #E0F2E9;
    font-family: Nanum Gothic Coding, monospace;
    
    background-color: #2E3534;
    position: fixed;
    padding: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: None;
    
}

header{
    
    align-content: center;
    background-color:  #94849B;
    color: #110009;
    padding: 50px;
    display: grid;

}


footer {
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color:  #94849B;
    color: #110009;
    padding: 50px;
}

/* unvisited link */
nav a:link {
    color: #E0F2E9;
    border-style: solid;
    border-width: 1px;
    border-color: #94849B;
    
  }
  
/* visited link */
nav a:visited {
    color: #E0F2E9;
    border-style: solid;
    border-width: 1px;
    border-color: #94849B;
    background-color:#463d4a;
  }
  
/* mouse over link */
nav a:hover, a:active {
    color: #110009;
    background-color: #a899b0;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4452;
    
  }
.grid-container h2, h3{
    font-family: Nanum Gothic Coding, monospace;
    color: #110009;
}


h1 {
    font-family: Nanum Gothic Coding, monospace;
    float: right;
    text-decoration: none;
}
#main_heading a:link, a:visited, a:unvisited {
    color: #110009;

}
#main_heading a:hover, a:active  {
    color: #110009;
}

p, span  {
    font-family: Nanum Gothic, sans-serif;
}

img {
    border-radius: 25px;
    box-shadow: 0 0 0 4px #fff;
}

header a {
    text-decoration: none;
    padding: 10px;
}

header div {
    padding: 20px;
}

footer div{
    padding: 20px;
}

#heading_items {
    padding: 30px;
}

#hero_background {
    align-self: center;
    height: auto;
    
    
    
}

* {
    box-sizing: border-box;
    margin: 100;
    padding: 0;
}

  #hero-placeholder {
      
        grid-row-start: 1;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
        
    }
    #events-placeholder {

        grid-row-start: 2;
    }
    #weather-placeholder {
        grid-row-start: 3;

    }
    #news-placeholder {
        grid-row-start: 4;

    }
    #spotlight-placeholder {
        grid-row-start: 5;
    }
    @media only screen and (max-width: 32.5em) {
    #join-placeholder {
        display: none;
    }
}





picture img[data-src] {
    filter: blur(0.2em);
}

picture img{
    filter: blur(0em);
    transition: filter 0.5s;
}

.division_left picture:hover {
    opacity: 1;
    filter: drop-shadow(0,0,0);
    filter: hue-rotate(0deg);
}
.division_right picture:hover {
    opacity: 1;
    filter: drop-shadow(0,0,0);
    filter: hue-rotate(0deg);
}
.division_right {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-gap: 20px;
}
.division_left {
    display: grid;
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-gap: 20px;
}

main p, main div {
    font-size: 30;
    background-color: #fff;
    padding: 15px;
    font-family: Nanum Gothic, sans-serif;
    border-color: #4d4452;
    border-style: double;
    border-width: 5px;
}
#greenway_text  {
    font-size: 30;
    background-color: #fff;
    padding: 30px;
    font-family: Nanum Gothic, sans-serif;
}

#visits, #last_visited {
    align-content: center;
    justify-content: center;
    text-align: center;
}

label {
    display:flex;
    font-family: Nanum Gothic Coding, monospace;
    color: #110009;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}

input {
    
    margin-bottom: 10px;
    padding: 2%;
}
#bdesc {
    padding: 15px;
}

#formGrid {
    display: grid;
    grid-gap: 20px;

}
#formGrid div{
    padding: 20px;
}


#formpersonal {
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
#formcontact {
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
#formbusiness {
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
#formmember {
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
#formsubmit {
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
legend 
{
    background-color: #7a6c80;
    color: white;
    padding: 5px 5px;
}


#submit_button {
    background: #463d4a;
    color: white;
    border-style: outset;
    border-color: #2E3534;
    height: 80px;
    font: bold15px arial,sans-serif;
    font-size: 30px;
    width: 100%;
    text-shadow: none;
    }
#goldblock
{
    border-color: gold;
    border-style: dashed;
    border-width: 12px;
}
#silverblock
{
    border-color: silver;
    border-style: dashed;
    border-width: 12px;
}
#bronzeblock
{
    border-color: rgb(90, 61, 8);
    border-style: dashed;
    border-width: 12px;
}
#nonpblock 
{
    border-color: purple;
    border-style: dashed;
    border-width: 12px;
}


.cards {
    
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 0;
    padding: 20px;
    
}
.cards>section {
    background-color: #94849B;
    padding: 10px;
    border-color: #4d4452;
    border-style: double;
    border-width: 5px;
    position: relative;
}
.cards >section>img {
    top: 15px;
    right: 15px;
    position: absolute;
    height: 55px;
}
.cards > section > p{
    border-color: #4d4452;
    border-style: double;
    border-width: 2px;
}


label{
    align-content: center;
    justify-content: center;
    text-align: center;
}

form > div {
    width: 75%;
    margin:0 auto;
}
#exit_link {
    font-size: 32px;
    border-color: #4d4452;
    border-style: double;
    border-width: 5px;
    padding: 12px;
}